#inbox-container {
    height: 500px;
    background-color: #fff;
}

#inbox-nav {
    margin-bottom: 20px;
}
.actions{
    position: absolute;
    right: 10px;
    bottom: 24px;
}

#req-list .title{
    list-style: none;
    font-size: 19px;
}
#req-list .req-container .person-info img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

#req-list .req-container .person-info .profile-info {
    padding-top: 5px;
    height: 60px;
}

#req-list .req-container .person-info .profile-info p {
    color: rgb(81, 81, 81);
    margin-bottom: 2px;
}

#req-list .req-container .person-info .tags {
    padding: 16px 20px;
}

#req-list .req-container .person-info .tags .tag {
    padding: 8px;
    border-radius: 70px;
    color: #fff;
}
