<%= content_for :stylesheet do %>
    <%= stylesheet_link_tag 'home'%>
    <link rel="stylesheet" href="/css/font-awesome-4.3.0/css/font-awesome.min.css">
<% end %>
<script src="/javascripts/app.js"></script>
<%= content_for :main do %>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header" ng-controller="headerCtrl">
          <div id="logo" ng-click="home()"></div>
        </div>
        <div class="navbar-collapse collapse" ng-controller="userCtrl">
          <ul class="nav navbar-nav navbar-right">
            <div class="user_signin_signup" ng-show="!is_user_sign_in">
              <li style="display: inline;"><a href="#signin">Sign In</a></li>
              <li style="display: inline;"><a href="#signup">Join</a></li>
            </div>
            <div class="user_profile_right" ng-show="is_user_sign_in">
              <div class="user_right" ng-click="profile()">
                <i class="profile_right_image" style="background-image: url('{{profile_image_url}}')"></i>
                <span class="welcome-message">{{welcome_message()}}</span>
              </div>
              <a class="signout-link" ng-click="signout()">Sign Out</a>
            </div>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search..." ng-keyup="keyupHandler($event)">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid" ng-controller="lhnController">

      <div class="row row-offcanvas row-offcanvas-left" >

        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

          <ul class="nav nav-sidebar">
            <li ng-class="lnv.arr[0]"><a href="#main" ng-click="lnv.goActive(0)">Dashboard</a></li>
            <li ng-class="lnv.arr[1]"><a href="#publicInvite" ng-click="lnv.goActive(1)">Public Invites</a></li>
            <li ng-class="lnv.arr[2]"><a href="#inbox/rcv" ng-click="lnv.goActive(2)">Requests</a></li>
            <li ng-class="lnv.arr[3]"><a href="#team" ng-click="lnv.goActive(3)">Team</a></li>
          </ul>

        </div>
        <div class="col-sm-9 col-md-10 main" ui-view>
        </div>
      </div>
    </div>
<% end %>