<%= content_for :stylesheet do %>
    <%= stylesheet_link_tag 'home'%>
    <link rel="stylesheet" href="/css/font-awesome-4.3.0/css/font-awesome.min.css">
<% end %>
<script src="/javascripts/app.js"></script>
<%= content_for :main do %>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <div id="logo"></div>
        </div>
        <div class="navbar-collapse collapse" ng-controller="userCtrl">
          <ul class="nav navbar-nav navbar-right">
            <div class="user_signin_signup" ng-show="!is_user_sign_in">
              <li><a href="#signin">Sign In</a></li>
              <li><a href="#signup">Join</a></li>
            </div>
            <div class="user_profile_right" ng-show="is_user_sign_in">
              <div class="user_right" ng-click="profile()">
                <i class="profile_right_image"></i>
                <span class="welcome-message">{{welcome_message()}}</span>
              </div>
              <a class="signout-link">Sign Out</a>
            </div>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row row-offcanvas row-offcanvas-left" >

        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

          <ul class="nav nav-sidebar">
            <li class="active"><a href="#main">Home</a></li>
            <li><a href="#signup">Team</a></li>
            <li><a href="#">Requests</a></li>
          </ul>

        </div>

        <div class="col-sm-9 col-md-10 main" ui-view>
        </div>
      </div>
    </div>
<% end %>