<link rel="stylesheet" type="text/css" href="css/profile.css">
<div class="profile-page">
  <div class="profile" ng-controller="profileCtrl">
    <div class="info-main">
      <div class="info">
        <div class="left">
          <div class="image"></div>
          <select class="form-control" ng-model="data.location">
            <option value='' disabled selected style='display:none;'>Location</option>
            <option>950 Elem</option>
            <option>850 Cherry</option>
            <option>860 Sunnyvale</option>
          </select>
        </div>
        <div class="right">
          <input type="text" placeholder="enter your full name" class="form-control" ng-model="data.name">
          <textarea placeholder="Enter your job tile" class="form-control" ng-model="data.title"></textarea>
        </div>
      </div>
      <div class="vertical-line">
        <span>Or Sync With</span>
        <div class="linkedin-logo-group">
          <div class="linkedin-logo"></div>
        </div>
      </div>
    </div>
    <div class="desc marginBot">
      <textarea placeholder="One sentence to describe your daily job function. ex.'I am an engineer at Search'" ng-model="data.description" class="form-control"></textarea>
    </div>
    <div class="interest marginBot">
      <span>Who do you want to meet? i.e Marketing, UX, Engineering</span>
      <div class="selected-tags" ng-show="selected_tags.length !== 0">
        <div class="interest-tag" ng-repeat="tag in selected_tags track by $index">
          <div class="add-button" ng-click="removeInterest($index)">
            <i class="fa fa-times"></i></div>
          <span>{{tag}}</span>
        </div>
      </div>
      <div class="tags">
        <div class="interest-tag" ng-repeat="tag in tags">
          <div class="add-button" ng-click="addInterest(this)"><i class="fa fa-plus-circle"></i></div>
          <span>{{tag}}</span>
        </div>
      </div>
    </div>
    <div class="buttons-group">
      <button class="form-control btn btn-primary button" ng-click="save()">Save</button>
      <button class="form-control btn btn-default button cancel" ng-click="cancel()">Cancel</button>
    </div>
  </div>
  <div class="upcoming-lunch">
    <div class="message1">Your upcoming lunch</div>
    <div class="actions">
      <span>Looks like you haven't got any lunch yet</span>
      <button class="form-control btn btn-primary button">Schedule a lunch!</button>
    </div>
  </div>
</div>