// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 50px;
  background-color: #f5f5f5;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */
#logo{
  background-image: url("/images/logo.png");
  background-size: cover;
  width: 175px;
  height: 52px;
  position: relative;
  left: -12px;
  cursor: pointer;
}

#sidebar{
  width: 177px;
}
.main {
  padding: 20px;
  background-color: #fff;
  height: 745px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.main .primary-background-color {
  background-color: #19C0AB;
  color: #ffffff;
}

.main .complementary-background-color {
  background-color: #f7c15e;
}

.main .secondary-background-color {
  background-color: rgb(233, 234, 226);
}

#top-div {
  display: inline-block;
  width: 100%;
}

div.title {
  padding: 10px 0;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #777777;
}

div.title button{
  background-color: #4c4b4a;
  color: white;
  border: 1px solid transparent;
  margin-left: 10px;
}

div.title button:hover{
  background-color: #f5f8fe;
  color: #4c4b4a;
}

#top-div .div-container {
  border: 1px solid rgb(179, 179, 179);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

#top-div .div-padding {
  padding-left: 10px;
  padding-right: 10px;
}

#just-joined {
  height: 410px;
}

.just-joined-profile {
  display: inline-block;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  border: 4px solid rgb(128, 212, 201);
  border-radius: 60px;
  background-color: #fff;
}

.just-joined-profile .img {
  float: left;
  padding-right: 10px;
}

.just-joined-profile .img img {
  height: 60px;
  width: 60px;
}

.just-joined-profile .profile-info {
  padding-top: 5px;
  height: 60px;
}

.just-joined-profile .profile-info p {
  color: rgb(81, 81, 81);
  margin-bottom: 2px;
}

#lunch-invite {
  height: 410px;
}

#form-lunch-invite{
  position: relative;
  top: 10px;
}
#form-lunch-invite .form-lunch-group {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 0;
}

#form-lunch-invite .form-lunch-group select{
  width: 220px;
}

#form-lunch-invite .form-lunch-group input{
  width: 220px;
}

#form-lunch-invite .form-group label.control-label:first-child {
  font-weight: normal;
}

#send-invite-message {
  padding: 10px 0;
  text-align: center;
  font-size: 11px;
  color: #b3b3b3;
}

#btn-send-invite {
  width: 100%;
  margin-bottom: 10px;
}

#popular-team {
  height: 182px;
}

#popular-team .list-group {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  bottom: 10px;
}

#popular-team .list-group .logo{
  width: 15px;
  height: 15px;
  position: relative;
  bottom: 2px;
}

#popular-team .list-group li {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 8px;
  border-radius: 40px;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.5);
}

#popular-team .title{
  padding: 10px 0;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #777777;
}

#monthly-bonus {
  padding-top: 10px;
  border: 0;
  height: 228px;
}

.user_signin_signup{
  position: relative;
  top: 18px;
  margin-right: 9px;
}

.user_signin_signup a{
  color: #ffffff;
}
#monthly-bonus .assoc-card {
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  bottom: 19px;
  position: relative;
}

#monthly-bonus .assoc-card img {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 10px;
  z-index: 10;
  position: relative;
  bottom: 18px;
}

#monthly-bonus .title {
  text-align: right;
  color: #fff;
  margin-right: 20px;
  margin-top: 0;
  padding: 0;
}

#monthly-bonus .assoc-card .intro {
  padding-bottom: 10px;
}

#monthly-bonus .assoc-card .intro .name {
  font-weight: bold;
}

#monthly-bonus .assoc-card .intro .role {
  font-weight: bold;
  font-size: 12px;
}

#monthly-bonus .assoc-card .content .tags {
  margin-top: 4px;
  margin-bottom: 10px;
}

#monthly-bonus .invite-buttons{
  width: 100px;
}

#monthly-bonus .invite-buttons button{
  background-color: #1CB5A2;
  border-color: #77CCE5;
  width: auto;
  left: 20px;
  bottom: 11px;
  position: relative;
}
#monthly-bonus .assoc-card .content .interested-at {
  font-size: 12px;
}

#monthly-bonus .assoc-card .content .tags .tag {
  padding: 6px;
  border-radius: 55px;
  color: #fff;
}

#lunch-invite textarea {
  resize: none;
  height: 60px;
  width: 220px;
  font-size: 11px;
}

.user_profile_right{
  margin-right: 18px;
}

.user_profile_right .user_right{
  cursor: pointer;
  display: inline;
}

.user_profile_right .user_right:hover .welcome-message{
  color: #dadada;
}
.user_profile_right .profile_right_image{
  background-image: url('/images/jamesman.jpg');
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  top: 6px;
}

.user_profile_right .welcome-message{
  display: inline-block;
  position: relative;
  color: white;
}

.user_profile_right .signout-link{
  cursor: pointer;
}


div.modal-pInv {
  width: 400px;
}

div.modal-pInv .modal-content {
  padding-left: 15px;
  padding-right: 15px;
  border: 4px solid #80d4c9;
}

div.modal-pInv .modal-header {
  border-bottom: none;
}

div.modal-pInv h4.modal-title {
  text-align: center;
  font-weight: bold;
}

div.modal-pInv .just-joined-profile {
  border: none;
  padding: 15px 20px;
}

#bottom-div{
  border: 1px solid #ccc;
  width: 1089px;
  height: 300px;
  margin-left: 0px;
}

#bottom-div .title{
  background-color: #f7c15e;
  padding: 5px;
  left: 10px;
  position: relative;
}

